fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
opencv-python-headless==4.12.0.88
ultralytics==8.3.173
numpy==2.2.6
sqlalchemy==2.0.41
pydantic-settings==2.10.1
boto3==1.39.4
neo4j==5.28.1
celery[redis]==5.4.0
psycopg[binary]==3.2.9
